html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  -webkit-tap-highlight-color: transparent;
}
*:focus {
  outline: none;
}
* {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.adc-default {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.adc-default input {
  margin: 0;
}
.adc-default ul,
.adc-default li {
    margin  : 0;
    padding : 2px;
}
.adc-default ul {
    list-style-type: none;
}
.adc-default .askia-response {
    display: flex;
    justify-content: stretch;
    align-items: center;
}
@media screen and (min-width:0\0) {
    /* IE9 and IE10 rule sets go here */
    .adc-default .askia-response {
        display: block;
    }
}
.adc-default input[type=radio] + label.askia-radio, 
.adc-default input[type=checkbox] + label.askia-checkbox {
    min-width: 1.5rem;
    align-self: baseline;
}

.adc-default .responses-container {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.adc-default input[type="radio"],
.adc-default input[type="checkbox"],
.adc-default .DK,
.adc-default .askia-response-label {
  cursor: pointer;
}

.adc-default input[type=range]::-moz-focus-outer {
    border: 0;
}
.adc-default input[type=range] {
  -webkit-appearance: none;
  width: 99%;
  min-width: 200px;
  max-width: 400px;
  height: 32px;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0px solid white;
}
.adc-default input[type=range][disabled=disabled]::-webkit-slider-thumb {
    display: none;
}
.adc-default input[type=range][disabled=disabled]::-ms-thumb {
    display: none;
}
.adc-default input[type=range][disabled=disabled]::-moz-range-thumb {
    display: none;
    opacity: 0;
}
.adc-default input[type=range]:not([disabled=disabled])::-webkit-slider-thumb {
    display: block;
}
.adc-default input[type=range]:not([disabled=disabled])::-ms-thumb {
    display: block;
}
.adc-default input[type=range]:not([disabled=disabled])::-moz-range-thumb {
    display: block;
    opacity: 1;
}

.adc-default input[type=range]:focus {
  outline: none;
}

.adc-default .range {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    width: 100%;
    max-width: 400px;
}
@media screen and (max-width:600px) {
  /* IE9 and IE10 rule sets go here */
  .adc-default .range {
    width: 250px;
  }
}

.adc-default .range:after,
.adc-default .range:before {
    position: absolute;
    top: 2.0em;
}
.adc-default .range:before {
    left: 0em;
    content: attr(min);
}
.adc-default .range:after {
    right: 0em;
    content: attr(max);
}
.adc-default .preBar {
    position: absolute;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    pointer-events: none;
    top: 12px;
}

.adc-default input[type=text][name^="S"] {
    width: 100%;
    min-width: 80%;
    max-width: 90%;
}
.adc-default textarea {
    width: 100%;
    min-width: 80%;
    max-width: 90%;
    height : 50px;
    resize: vertical; 
}
.adc-default label.openDK {
    display: inline-block;
    width: 100%;
    min-width: 80%;
    max-width: 90%;
    text-align: left;
    padding: 10px 5px 5px 5px;
}
.adc-default label.numericDK {
    display: inline-block;
    padding: 10px 5px 5px 5px;
}
.adc-default label.DK {
    display: inline-block;
}
.adc-default input[type=number],
.adc-default .thousand {
    text-align: right;
}
.adc-default .askia-response-label {
    margin-left: 5px !important;
    flex: 1 1 0%;
}
/* TIME PICKER */
.RLTimePicker {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-flex;
    border: 0.0625em solid rgba(221,221,221,1);
	border-radius: 0.1875em;
}
.RLTimePicker .show {
    display: block;
}
.RLTimePicker select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.0625em solid rgba(221, 221, 221, 1);
    margin: 0;
    background: transparent;
    border: none;
    padding: 5px;
    /* height: 2em;
    width: 60px; */
    text-align: center;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.adc-default > select {
    width: 90%;
    box-sizing: border-box;
    border: 0.0625em solid rgba(221, 221, 221, 1);
    border-radius: .125em;
    margin: 0;
    background: transparent;
    padding: 5px;
    height: 2em;
    background-image: linear-gradient(45deg, transparent 50%, rgba(221, 221, 221, 1) 50%), linear-gradient(135deg, rgba(221, 221, 221, 1) 50%, transparent 50%);
    background-position: calc(100% - 13px) calc(0.8em), calc(100% - 6px) calc(0.8em);
    background-size: 8px 8px, 8px 8px;
    background-repeat: no-repeat;
    padding-right: 1.5em;
    cursor: pointer;
}
.adc-default select option:first-child {
	display: none;   
}
.adc-default select::-ms-expand {
    display: none;
}
.adc-default select option {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: pointer;    
}
.RLTimePicker select option {
    text-align: center;
}

.RLTimePicker select:focus {
    border-bottom-color: #ace;
    outline: none;
}
.RLTimePicker .imperial {
    width: 45px;
    /* padding: 5px; */
    line-height: 2.5;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.RLTimePicker .timeSeparator {
    width: 5px;
    height: 34px;
    padding: 1px;
    font-size: 100px;
    font-weight: bolder;
}
.RLTimePicker [class^="timeSeparator"] {
    line-height: 2.5;
}
.RLTimePicker .secsContainer {
    display: inherit;
    height: auto;
}

/* DATE PICKER */
/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: inline-block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}

.is-inrange .pika-button {
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
    border-radius: 3px;
}

.is-disabled .pika-button,
.is-outside-current-month .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom: none;
    cursor: help;
}

.RLDatePicker {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  max-width: 10em;
}
/* line 29, ../sass/timePicker.scss */
.RLDatePicker input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 9.5em;
    /* width: 210px;
    padding: 8px 8px 6px; */
    margin: 0;
    /* font-size: 18px; */
    text-align: center;
    /* border: none;
    border-bottom: 2px solid white;
    background: transparent; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
/* line 41, ../sass/timePicker.scss */
.RLDatePicker input:focus {
    /* border: 1px solid #dddddd;
    border-bottom-color: #ace; */
    outline: none; 
}
/**
 * This theme is an example to show how you can create your own.
 */
.pika-single.dark-theme {
    color: #fff;
    background: #333;
    border: 1px solid #666;
    border-bottom-color: #999;
}

.dark-theme .pika-label {
    background-color: #333;
}

.dark-theme .pika-prev,
.dark-theme .is-rtl .pika-next {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAQ0lEQVR4Ae3KIQ4AIBTD0N0/IeHGI3UIRA3ut/Zl+ltXc5++htVAmIAwAWECwgSEKbgthEoIlRAqIVRCqINQB9nDgQd7ktwFo6UpWQAAAABJRU5ErkJggg==');
}

.dark-theme .pika-next,
.dark-theme .is-rtl .pika-prev {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAP0lEQVQ4y+3TMQoAMAgEwfwfAvvjTZ1uGzuvHhBPPGczEG+FRqqRaqQaqUaqkX6QBmmjacvQ6qEVTjsh+xizebvlaWptGXZAAAAAAElFTkSuQmCC');
}

.dark-theme .pika-table th {
    color: #999;
}

.dark-theme .pika-button {
    color: #fff;
    background: #222;
}

.dark-theme .pika-week {
    color: #999;
}

.dark-theme .is-today .pika-button {
    color: #33aaff;
}

.dark-theme .is-selected .pika-button {
    color: #fff;
}

.dark-theme .is-disabled .pika-button {
    color: #999;
    opacity: .3;
}

.dark-theme .pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
}
/**
 * This theme is an example to show how you can add triangles to the dropdowns.
 */
.triangle-theme .pika-label:after {
    content:" \25be";
}


