<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.2.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.2.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.2.0/ADCSchema.xsd"
          version="2.2.0"
          askiaCompat="5.5.2">
  <info>
    <name>TemplateAll</name>
    <guid>feba6dd4-1a09-4470-a854-e89c59821d8e</guid>
    <version>4.0.14</version>
    <date>2016-04-15</date>
    <description><![CDATA[Default ADC with all kind of questions
		v2.0.11 - Added alt attribute to img
				- Added aria-labels to select, inputs and textarea
				- Added span to labels
		v2.0.12 - Added autocomplete off and fixed select first option
		v2.0.12 - Add the compatibility with the screen of the loop with selection at each iteration and loop with preliminary selection
        v2.0.14 - Added fix for numeric step value
        v2.0.15/ v3.0.1 - Added option to override browser validation using required, minLength and maxLength
		v4.0.0 - headers single-closed
		v4.0.1 - headers multicoded
    v4.0.2 - select-dropdown input value issue fix - multicoded
    v4.0.3 - Semi-open single-closed/multicoded
    v4.0.4 - AvailableResponses & manageHeader = true
    v4.0.5 - manageSemiOpen = true
    v4.0.6 - otherText display:block
    v4.0.7 - expandableHeaders
	v4.0.8 - bug fix
	v4.0.9 - headers collapsed issue fixed
  v4.0.10 - semi-open, autocomplete off
  v4.0.11 - headerFontColour
  v4.0.12 - Fixed padding li
  v4.0.13 - Fix for exclusive responses
  v4.0.14 - Fix a bug by using CurrentADC
	]]></description>
    <company>Askia SAS</company>
    <author><![CDATA[Mamadou Sy <mamadou@askia.com>Jerome Duparc <jeromed@askia.com>]]></author>
    <site>http://www.askia.com</site>
    <helpURL></helpURL>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" single="true" multiple="true" numeric="true" date="true" open="true" chapter="false" requireParentLoop="false" requireLoopDepth="0" manageHeader="true" manageSemiOpen="true"/>
      <constraint on="controls" responseblock="true" checkbox="false" label="false" listbox="false" radiobutton="false" textbox="true" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="default">
    <output id="default" manageLoopDepth="0">
      <description><![CDATA[Default output]]></description>
      <content fileName="adc_default.css" type="css" mode="static" position="head" />
      <content fileName="default.css" type="css" mode="dynamic" position="head" />
      <content fileName="moment.min.js" type="javascript" mode="static" position="head" />
      <content fileName="pikaday.js" type="javascript" mode="static" position="head" />
      <content fileName="single.html" type="html" mode="dynamic" position="none" />
      <content fileName="multiple.html" type="html" mode="dynamic" position="none" />
      <content fileName="open.html" type="html" mode="dynamic" position="none" />
      <content fileName="numeric.html" type="html" mode="dynamic" position="none" />
      <content fileName="datetime.html" type="html" mode="dynamic" position="none" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="date_picker.js" type="javascript" mode="static" position="foot" />
      <content fileName="time_picker.js" type="javascript" mode="static" position="foot" />
      <content fileName="adc_default.js" type="javascript" mode="static" position="foot" />
      <content fileName="Initializer.js" type="javascript" mode="dynamic" position="foot" />
    </output>
  </outputs>
  <properties>
    <category id="general" name="General">
      <property xsi:type="standardProperty" id="controlAlign" name="Control Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The alignment of the control]]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="placeholder" name="Placeholder" type="string" mode="dynamic">
        <description><![CDATA[

          Using HTML 5, in modern browser.
          Helper text shows in the input when it's empty.

        ]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="autoSubmit" name="Auto submit" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Auto submit]]></description>
        <value><![CDATA[no]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="useBrowserValidation" name="Use Browser Validation" type="number" require="false" visible="true" min="0" max="1">
        <description><![CDATA[Use browser validation for Open and Numeric questions]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
    </category>
    <category id="closedQuestion" name="Closed question">
      <property xsi:type="standardProperty" id="maxWidth" name="Max Width" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Max width]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="columnsCount" name="Columns count" type="number" mode="dynamic" require="true" visible="false" min="1">
        <description><![CDATA[The number of columns to show]]></description>
        <value><![CDATA[1]]></value>
      </property>
      <property xsi:type="standardProperty" id="columnsWidth" name="Columns min width" type="string" mode="dynamic" require="false" visible="false">
        <description><![CDATA[The minimum width of the columns]]></description>
        <value><![CDATA[200px]]></value>
      </property>
      <property xsi:type="standardProperty" id="useList" name="Use a selection list" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Use a select list to enumerate all available responses.]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="firstOptionText" name="First option text of the drop down" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[First option text of the drop down]]></description>
        <value></value>
      </property>
    </category>
    <category id="numericQuestion" name="Numeric question">
      <property xsi:type="standardProperty" id="numUseInput" name="Use" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Use an input number or slider or currency.
			For currency, an input text is generated and the thousand separator are shown with a space.]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="0" text="Input number" />
          <option value="1" text="Slider" />
          <option value="2" text="Currency" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="unitStep" name="Step for input number" type="number" mode="static" require="false" visible="true">
        <description><![CDATA[The step used
			For instance 1 or 0.1 or 5 etc.]]></description>
        <value><![CDATA[1]]></value>
      </property>
      <property xsi:type="standardProperty" id="numBoxPrefix" name="Prefix" type="string" require="false" visible="true">
        <description><![CDATA[Prefix for numerical box in this column only]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="numBoxSuffix" name="Suffix" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="numDkButton" name="Add DK button" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Add a don't know button]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="numDkCaption" name="DK caption" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[The caption of the don't know button]]></description>
        <value><![CDATA[Don't know]]></value>
      </property>
    </category>
    <category id="openQuestion" name="Open-ended question">
      <property xsi:type="standardProperty" id="opensubtype" name="Use" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Using HTML 5, in modern browser.
          Define a sub-type for open-ended question.]]></description>
        <value><![CDATA[text]]></value>
        <options>
          <option value="text" text="Input text" />
          <option value="textarea" text="Textarea" />
          <option value="email" text="Input email" />
          <option value="url" text="Input url" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="openDkButton" name="Add DK button" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Add a don't know button]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="openDkCaption" name="DK caption" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[The caption of the don't know button]]></description>
        <value><![CDATA[Don't know]]></value>
      </property>
    </category>
    <category id="Date" name="Date question">
      <property xsi:type="standardProperty" id="theme" name="Theme" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Select the theme of the calendar]]></description>
        <value><![CDATA[light-theme]]></value>
        <options>
          <option value="light-theme" text="Light theme" />
          <option value="dark-theme" text="Dark theme" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="defaultDate" name="Default date" type="string" mode="dynamic" require="false" visible="false">
        <description><![CDATA[The initial date to view when first opened
Format: MM/DD/YYYY]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="bound" name="Show datepicker" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Hide datepicker by default. Hide datepicker until it is in focus.]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Hide" />
          <option value="0" text="Show" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="position" name="Position" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[preferred position of the datepicker relative to the form field, e.g.: top right, bottom right Note: automatic adjustment may occur to avoid datepicker from being displayed outside the viewport.]]></description>
        <value><![CDATA[bottom left]]></value>
        <options>
          <option value="bottom left" text="bottom left" />
          <option value="top left" text="top left" />
          <option value="top right" text="top right" />
          <option value="bottom right" text="bottom right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="setDefaultDate" name="Set default date" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Make the "Default Date" the initial selected value]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="firstDay" name="First Day of the month" type="number" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Select the first day of the month:
0 = Sunday, 1 = Monday etc.]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="0" text="Sunday" />
          <option value="1" text="Monday" />
          <option value="2" text="Tuesday" />
          <option value="3" text="Wednesday" />
          <option value="4" text="Thursday" />
          <option value="5" text="Friday" />
          <option value="6" text="Saturday" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="disableWeekends" name="Disable Weekends" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Option to disable the selection of weekends]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Disallow Weekends" />
          <option value="0" text="Allow Weekends" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showWeekNumber" name="Show Week Number" type="string" require="true" visible="false">
        <description><![CDATA[Show the ISO week number at the head of the row (default false)]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Show" />
          <option value="0" text="Hide" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showMonthAfterYear" name="Month After Year" type="string" require="true" visible="false">
        <description><![CDATA[Render the month after year in the title (default false)]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Month last (yyyy mm)" />
          <option value="0" text="Month first (mm yyyy)" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="numberOfMonths" name="Number of Months" type="number" mode="dynamic" require="true" visible="false" min="1" max="3">
        <description><![CDATA[Number of months visible at a time]]></description>
        <value><![CDATA[1]]></value>
      </property>
      <property xsi:type="standardProperty" id="mainCalendar" name="Main Calendar" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[When "Number of Months" is used, this will help you to choose where the main calendar will be (default left, can be set to right). Only used for the first display or when a selected date is not already visible]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dateDkButton" name="Add DK button" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Add a don't know button]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dateDkCaption" name="DK caption" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[The caption of the don't know button]]></description>
        <value><![CDATA[Don't know]]></value>
      </property>
    </category>
    <category id="timePicker" name="Time question">
      <property xsi:type="standardProperty" id="imperial" name="Time format" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Option to choose 24 hour clock or 12 hour clock]]></description>
        <value><![CDATA[false]]></value>
        <options>
          <option value="false" text="24 Hour clock" />
          <option value="true" text="12 Hour clock" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showSeconds" name="Show Seconds" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Option to show/hide seconds counter]]></description>
        <value><![CDATA[false]]></value>
        <options>
          <option value="true" text="Show" />
          <option value="false" text="Hide" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="stepMinutes" name="Minutes Intervals" type="number" mode="dynamic" require="true" visible="false" min="1" max="59">
        <description><![CDATA[Step intervals for minute counter]]></description>
        <value><![CDATA[1]]></value>
      </property>
      <property xsi:type="standardProperty" id="stepSeconds" name="Seconds Intervals" type="number" mode="dynamic" require="true" visible="false" min="1" max="59">
        <description><![CDATA[Step intervals for seconds counter]]></description>
        <value><![CDATA[1]]></value>
      </property>
    </category>
    <category id="headers" name="Headers (non clickable responses)">
      <property xsi:type="standardProperty" id="showHeaders" name="Show Headers" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="expandableHeaders" name="Expandable Headers" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="accordionInitialState" name="Accordion Initial State" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[expanded]]></value>
        <options>
          <option value="expanded" text="Expanded" />
          <option value="collapsed" text="Collapsed" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="headerFontColour" name="Header Font Colour" type="color" mode="dynamic" visible="true">
        <description><![CDATA[Header colour]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
    </category>
  </properties>
</control>
